<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "sykesgames.notsoeasyquiz.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>NotSoEasyQuiz</name>

    <description>
        Not such an easy quiz, eh i'm sure you can do it.
    </description>

    <author href="http://scratch.mit.edu/users/SykesGames" email="10codprominer@gmail.com">
        SykesGames
    </author>

</widget>
